<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <img class="logo" src="/img/logo.png">
      <h3 class="text-center">Account Register</h3>
      <form action="/users/signup" method="post" id="signUpForm">
        <div class="form-group">
          <label for="phone" id="phoneLabel">Enter your phone number in format: 01234-123-45-67</label>
          <input type="tel" id="phone" name="phone" class="form-control" pattern="[0-9]{5}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            disabled="false">
        </div>
        <div class="form-group">
          <label for="email" id="emailLabel">email</label>
          <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">password</label>
          <input type="password" name="password" class="form-control" value="{{password}}" required>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" name="password2" class="form-control" value="{{password2}}" required>
        </div>
        <label id="typeIdLabel">type Id : email
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" name="typeId" id="typeId" value="email" class="sr-only" > change type Id
        </label> 
        <button type="submit" class="btn btn-primary">Signup</button>
      </form>
    </div>
  </div>
</div>